<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>,<br>
        {{ item.affiliation }}.<br>
      </p>
    </div>
  </div>
</article>
