<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <em>{{ item.name }}</em>,<br>
        {{ item.affiliation }}.<br>
        {% if item.url %}
          <a href="{{ item.url }}"></a>.,
        {% endif %}
      </p>
    </div>
  </div>
</article>
