<article class="media">
    <div class="person">
      <p>{{ person.firstname[0] }}</p>
      <p>{{ person.affiliation }}</p>
      <p> url: <a href="{{ person.url }}" target="_blank">{{ person.url }}</a></p>
    </div>
</article>