<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <a href="{{ item.url }}" target="_blank"><em>{{ item.name }}</em></a>,<br>
        {{ item.affiliation }}.<br>
      </p>
    </div>
  </div>
</article>
